.wrapper

  = render 'shared/side_bar'

.chat_main_block
  = render 'shared/header'
  .message_list_box
    .messages
      = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__send_message_block' do
          = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__send_button'


